html, body {
  margin: 0;
  padding: 0;
}

body {
  /* background: #1e1e20; */
  background: var(--el-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: #84848440;
}


::-webkit-scrollbar {
  width: 6px;
}

.el-card--small {
  --el-card-padding: 10px;
}

.orm-dialog {
  display: flex;
  flex-direction: column;
  resize: auto;
  overflow: auto;
}

.orm-dialog .el-dialog__body {
  flex: 1;
  height: 0;
}

.crud-search {
  background-color: var(--el-bg-color-overlay) !important;
}

.crud-header {
  background-color: var(--el-bg-color-overlay) !important;
}